nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 56px;
  background-color: transparent;
}

.BurgerMenu {
  display: flex;
  flex-direction: column;
  background-color: grey;
  padding: 10px 15px;
}

.BurgerMenu:hover {
  background-color: skyblue;
}

i {
  background-color: white;
  width: 22px;
  height: 4px;
  margin: 4px;
  border-radius: 2px;
}
